.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

h2 , h3 {
    color: rgb(121, 119, 119);
}
h3, h4 {
    color: rgb(121, 119, 119);
}
.activity-form-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    padding: 2%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 90%;
    max-height: fit-content;
    overflow-y: auto;
    transition: background-color 0.3s, height 0.5s ease;
    background: linear-gradient(270deg, #bdc9e2, #f7d0ec, #d6bde5, #c5d7e5);
    background-size: 400% 400%;
    animation: gradientAnimation 5s ease infinite;
    width: 60%;
   
    
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.activity-form-container label {
    color: rgb(93, 92, 92);
}

.activity-form-container h2 {
    margin-bottom: 20px;
}

.activity-form-container form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.input-group {
    flex: 1 1 30%; /* Adjust each input to take 30% of the row width */
    display: flex;
    flex-direction: column;
}

.activity-form-container input,
.activity-form-container select {
    padding: 8px;
    margin-top: 5px;
    border-radius: 15px !important;
    transition: border-color 0.3s ease;
    width: 100%; /* Ensures each input takes full width of its container */
}

.activity-form-container input:focus,
.activity-form-container select:focus {
    border-color: #302774 !important;
    outline: #73aedb !important;
}

.button-row {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-left: 40%;
}
.activity-form-container button {
    background-color: #c98dbf;
    color: white;
    padding: 10px 15px;
    margin-top: 2%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100px;
    margin-right: 10px;
}

.activity-form-container button:last-child {
    margin-right: 0;
}
/* 
.activity-form-container button {
    background-color: #c98dbf;
    color: white;
    padding: 10px 15px;
    margin-top: 2%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100px;
    margin-right: 10px;
}

.activity-form-container button:last-child {
    margin-right: 0;
} */

.activity-form-container button:hover {
    background-color: #b264a5;
}

.activity-form-container input,
.activity-form-container select {
    padding: 8px;
    border: 2px solid #ac7adb !important;
    border-radius: 4px;
    font-size: 16px;
}

.activity-form-container select {
    appearance: none;
    background-color: #fff;
}

.activity-form-container select:hover {
    border-color: #73aedb;
}

.activity-form-container input:hover {
    border-color: #73aedb;
}

.activity-form-container select option:hover {
    background-color: #c45fab;
}

.error {
    color: red;
    font-size: 0.9em;
}

.thank-you-message {
    margin: 3%;
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(29, 8, 93);
    text-align: center;
}

.thank-you-shrink {
    height: 30%; 
}